{{#paginate.canPrev}}
<a href="javascript://" class="prev {{#paginate.canPrev}}enabled{{/paginate.canPrev}}">Prev</a>
{{/paginate.canPrev}}
<div class="pagination pagination-small pagination-centered">
<ul>
{{#paginate.pages}}
<li class="page" {{data 'page'}}>
	<a href="javascript://">
		{{.}}
	</a>
</li>
	{{/paginate.pages}}
</ul></div>
{{#paginate.canNext}}
<a href="javascript://" class="next {{#paginate.canNext}}enabled{{/paginate.canNext}}">Next</a>
{{/paginate.canNext}}
