<div class="pagination pagination-centered pagination-small">
<ul>
	{{#paginate.canPrev}}
<li><a href="javascript://" class="prev {{#paginate.canPrev}}enabled{{/paginate.canPrev}}"><<</a></li>
{{/paginate.canPrev}}

{{#paginate.pages}}
<li class="page" {{data 'page'}}>
	<a href="javascript://">
		{{.}}
	</a>
</li>
	{{/paginate.pages}}
	{{#paginate.canNext}}
<li><a href="javascript://" class="next {{#paginate.canNext}}enabled{{/paginate.canNext}}">>></a></li>
{{/paginate.canNext}}
</ul>
</div>

