<h1>List posts </h1>
<ul>
<% list(posts,function(post){ %>
	<li <%= (el)->el.data('post',post) %> class="post">
		<%== can.route.link(post.attr('title'),	{control:'posts',id:post.attr('id')},
							{className:'post-link'}) 
						%>
<% }) %>
</ul>

