<p>{{greetings who}}</p>

<table>
	<thead>
		<tr><th>Name</th>
		<th>Email</th>
		<th>Category</th>
		<th>Location</th>
		<th>Company</th>
	</tr>
	</thead>
	<tbody>
	{{#this}}
	<tr>
		<td>{{firstname}} {{lastname}}</td>
		<td>{{email}}</td>
		<td>{{category.name}}</td>
		<td>{{location.name}}</td>
		<td>{{company.name}}</td>
	</tr>
	{{/this}}
</tbody>
</table>
