<thead>
  	<tr>
  		<th>Firstname</th><th>Lastname</th>
  	</tr>
  </thead>
  <tbody>
  	{{#items}}
  	  <tr>
  	  	<td width="40%">{{firstname}}</td>
  	  	<td width="70%">{{lastname}}</td>
  	  </tr>
  	{{/items}}
  </tbody>